body{
    font-family: Roboto;
}

.vd-thumbnail{
    width: 300px;
}

.search-box{
    display: block;
}

.vd-preview{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-right: 15px;
}