body{
    font-family: Roboto, Arial;
}

p{
    margin: 0;
}

.thumbnail-section{
    margin-bottom: 12px;
}

.vd-thumbnail{
    width: 100%;
}

.search-box{
    display: block;
}



.vd-preview{
    cursor:pointer;
}

.video-detail{
    display: grid;
    grid-template-columns: 50px 1fr;

}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 20px;
}

.channel-profile{

}

.video-info{
    

}

.channel-profile-img{
    width:  40px;
    border-radius: 20px;
}

.vd-desc{

    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.author, 
.vd-state{
    color: gray;
    font-size: 12px;
}

.author{
    margin-top: 10px;
}

.vd-state{
    margin-top: 4px;
}